* {
  margin: 0;
  padding: 0; }

ul {
  list-style-type: none; }

a {
  text-decoration: none; }

body {
  font-family: "Hind", sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 1.5;
  background-color: #101010;
  color: white; }

.title {
  color: #00FFF0;
  font-family: "Poppins", sans-serif;
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: 6px;
  text-align: center;
  margin: 24px; }

.subtitle {
  font-size: 2rem;
  font-weight: 300; }

.subtitle--primary {
  color: #00D1FF;
  font-family: "Poppins", sans-serif; }

.subtitle--secondary {
  color: white;
  margin-bottom: 24px; }

.description {
  margin: 0% 8% 2% 8%;
  text-align: center; }

.banner {
  height: 90vh;
  width: 100%;
  object-fit: cover;
  object-position: center; }

.banner--primary {
  height: 40vh; }

.banner--secondary {
  height: 33.33333vh; }

.banner__caption {
  width: 30%;
  left: 5%;
  text-align: left; }

.button, .button--large, .button--small {
  display: block;
  text-decoration: none;
  text-align: center;
  border-radius: 8px;
  color: #C6C6C6;
  border: 1px solid #C6C6C6;
  background-color: transparent; }

.button:hover, .button--large:hover, .button--small:hover {
  border: 1px solid #00FFF0;
  color: #00FFF0; }

.button--large {
  padding: 16px;
  margin: 2% 40% 2% 40%; }

.button--small {
  padding: 8px;
  margin: 24px 0px 0px 0px; }

.card {
  flex: 1;
  text-align: center;
  padding: 2%; }

.card--service img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  transition: all 0.2s;
  transition-timing-function: ease-in-out; }

.card--service img:hover {
  filter: opacity(0.5) drop-shadow(0 0 0 #00D1FF);
  transform: scale(1.1); }

.card--service h3 {
  color: #00D1FF; }

.card--service p {
  color: #C6C6C6; }

.card--client img {
  height: 160px;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 8px; }

.card--client h3 {
  color: white;
  text-align: center; }

.card--blog {
  background-color: black;
  border-radius: 4px;
  padding: 1%;
  transition: 0.3s ease-in-out; }
  .card--blog img {
    width: 100%; }
  .card--blog h3 {
    color: #00D1FF;
    font-family: "Poppins", sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    width: 100%;
    margin-left: 2%;
    margin-bottom: 2%; }
  .card--blog p {
    width: 100%;
    color: #C6C6C6;
    margin-left: 2%; }

.card--blog:hover {
  transform: scale(1.1); }

.footer {
  background-color: black; }

.footer__contact {
  font-size: 1rem;
  line-height: 0.8; }
  .footer__contact a {
    color: white; }
  .footer__contact a:hover {
    color: #00FFF0; }

.footer__social img {
  border-radius: 24px;
  border: 1px solid #00FFF0;
  height: 48px;
  width: 48px; }

.footer__social img:hover {
  transform: scale(1.1);
  background: #00ffee80; }

.footer__social__copyright {
  font-size: 0.7rem; }

/* Menu */
.header {
  background-color: black;
  height: 64px; }
  .header i {
    color: white;
    font-size: 2rem; }

.header__brand, .header__brand:hover {
  display: flex;
  align-items: center;
  color: #00FFF0;
  font-family: 'Poppins', sans-serif;
  margin-left: 8px; }
  .header__brand img, .header__brand:hover img {
    height: 24px;
    margin-right: 8px; }

.header__link {
  color: #A8A8A8;
  font-weight: 400;
  text-transform: uppercase;
  padding-top: 8px; }

.header__link:hover {
  color: #00FFF0; }

.active {
  color: white; }

.home-container {
  height: auto;
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center; }

.home-container__detail {
  display: flex;
  flex-flow: row wrap; }

.home-container__detail--leading {
  margin: 2%; }

.home-container__detail--center {
  padding: 4%;
  align-items: center stretch; }
  .home-container__detail--center img {
    flex: 1;
    width: 40%;
    object-fit: cover;
    object-position: center;
    border-radius: 8px;
    margin-right: 4%; }

.home-container__detail__description {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start; }

.home-container--large {
  margin: 80px 0px 80px 0px; }

.home-container--medium {
  margin-bottom: 2%; }

.home-container--dark {
  background-color: #101010;
  padding: 2% 0%; }

.home-blog-content img {
  width: 100%;
  object-fit: cover;
  object-position: center; }

.home-blog-content a {
  width: 40%; }

.service-1 h3 {
  color: #00FFF0; }

.service-2 h3 {
  color: #00D1FF; }

.service-3 h3 {
  color: #00FFF0; }

.bbva-client {
  border: 2px solid #00D1FF;
  border-radius: 8px; }

.abm-client {
  border: 2px solid #00D1FF;
  border-radius: 8px; }

.invex-client {
  border: 2px solid #00D1FF;
  border-radius: 8px; }

.portfolio-header {
  margin-top: 100px; }

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  padding: 0%;
  filter: grayscale(100%);
  transition: .2s ease-in-out; }

.column img:hover {
  filter: grayscale(0); }

.contact-detail {
  height: auto;
  padding: 4%; }
  .contact-detail iframe {
    width: 96%;
    height: 100%;
    border-radius: 8px;
    margin-left: 4%; }
  .contact-detail form {
    margin-left: 4%; }
    .contact-detail form input {
      width: 100%;
      height: 40px;
      width: 100%;
      margin-bottom: 24px; }
    .contact-detail form textarea {
      height: 210px;
      width: 100%;
      margin-bottom: 24px; }

/**** Small ****/
@media only screen and (max-width: 767px)  {
  .button, .button--large, .button--small {
    border: 1px solid #00fff0;
    color: #00fff0;
  }

  .column img {
    filter: grayscale(0);
  }

  .header .container-fluid {
    padding: 0%;
  }

  .navbar-nav {
    padding-left: 24px;
  }

  .footer__contact {
    display: none;
  }

  /* Banner */
  .banner {
      height: 80vh;
  }

  .banner--primary {
    height: 50vh; 
  }

  .banner--secondary {
    height: 40vh; 
  }
  .banner__caption {
    width: 90%;
    left: 2%;
  }

  .carousel-item img {
    filter:blur(5px) grayscale(80%);
  }
}

/**** Medium ****/
@media only screen and (min-width: 768px) and (max-width: 991px) {

  body {
    font-size: 1rem;
  }

  .header .container-fluid {
    padding: 0%;
  }

  .navbar-nav {
    padding-left: 24px;
  }

  .banner {
    height: 60vh;
  }

  .banner--primary {
    height: 25vh; 
  }

  .banner--secondary {
    height: 20vh; 
  }

  .banner__caption {
    width: 40%;
  }

  .card--service img {
    width: 120px;
    height: 120px;
  }

  .card--client img {
    height: 100px;
  }

  .home-blog-content img {
    height: 100%;
  }

}