.contact-detail {
    height: auto;
    padding: 4%;
    iframe {
        width: 96%;
        height: 100%;
        border-radius: $border-radius;
        margin-left: 4%;
    }
    form {
        margin-left: 4%;
        input {
            width: $width;
            @include frame($width, 40px);
            margin-bottom: 24px;
        }
        textarea {
            @include frame($width, 210px);
            margin-bottom: 24px;
        }
    }
}