.home-container {
    @include frame($width, auto);
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.home-container__detail {
    display: flex;
    flex-flow: row wrap;
}

.home-container__detail--leading {
    margin: 2%;
}

.home-container__detail--center {
    padding: 4%;
    align-items: center stretch; 
    img {
        flex: 1;
        width: 40%;
        object-fit: cover;
        object-position: center;
        border-radius: $border-radius;
        margin-right: 4%;
    }
}

.home-container__detail__description {
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
}

.home-container--large {
    margin: 80px 0px 80px 0px;
}

.home-container--medium {
    margin-bottom: 2%;
}

.home-container--dark {
    background-color: $dark-color;
    padding: 2% 0%;
}

.home-blog-content {
    img {
        width: $width;
        object-fit: cover;
        object-position: center;
    }
    a {
        width: 40%;
    }
}

@for $index from 1 through 3 {
    .service-#{$index} {
        h3 {
            @if $index % 2 == 0 {
                color: $secondary-color;
            } @else {
                color: $primary-color;
            }
        }
    }
}

@each $client in bbva, abm, invex {
    .#{$client}-client {
        border: 2px solid $secondary-color;
        border-radius: $border-radius;
    }
}