.footer {
    background-color: $darkest-color;
}

.footer__contact {
    font-size: 1rem;
    line-height: 0.8;
    a {
        color: $lightest-color;
    }
    a:hover {
        color: $primary-color;
    }
}

.footer__social {
    img {
        border-radius: $border-radius * 3;
        border: 1px solid $primary-color;
        @include frame(48px, 48px);
    }
    img:hover {
        transform: scale(1.1);
        background: #00ffee80;
    }
}

.footer__social__copyright {
    font-size: 0.7rem;
}