.button {
    display: block;
    text-decoration: none;
    text-align: center;
    border-radius: $border-radius;
    color: $light-color;
    border: 1px solid $light-color;
    background-color: transparent;
}

.button:hover {
    border: 1px solid $primary-color;
    color: $primary-color;
}

.button--large {
    @extend .button;
    padding: $padding * 2;
    margin: 2% 40% 2% 40%; 
}

.button--small {
    @extend .button;
    padding: $padding;
    margin: 24px 0px 0px 0px;
}
