// Regular font family
$text-font: 'Hind', sans-serif;

// Titles font family
$title-font: 'Poppins', sans-serif;

// Colors
$primary-color: #00FFF0;
$secondary-color: #00D1FF;

// Grayscale
$darkest-color: black;
$dark-color: #101010;
$neutral-color: #212121;
$light-color: #C6C6C6;
$lightest-color: white;

// Measurements
$height: 100vh;
$width: 100%;
$padding: 8px;
$border-radius: 8px;